
/*font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
/*navbar styles*/
* {
    font-family: "Mona Sans", serif;
    font-style: normal;
}
:root{
    --primary-color: #293B9D;
    --secondary-color:white;
}


.header{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    width: 100%;
    box-shadow: 0 6px 10px rgba(213, 24, 50, 0.5);
    position:fixed;
    z-index: 999;
}
.logo-container{
    width: 100px;
    height: auto;
    padding-left: 2%;
}
.logo{
    width: 100%;
    height: auto;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}
.nav-item{
   font-weight: 400;
   font-size: 20px;
   list-style-type: none;
}
.nav-link{
    color: black !important;
    text-decoration: none !important;

}
.contact-us{
    width: 150px;
    height: auto;
    background-color: #293B9D;
    color: #ffffff;
    padding:10px;
    border: none;
    border-radius: 10px;
    margin-right:20px;
}
/*footer styles*/

.footer-section {
    background-color: #fff;
    box-shadow: 0 2px 8px #293B9D;
    border-radius: 15px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom:20px;
}
.connect{
    display: flex;
    flex-wrap: wrap;
    gap:50px; 
    justify-content: center;
    align-items: flex-start;
}
.under{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;

}
.horizontal-line{
    text-align: center;
    width: 90%;
    margin: auto;
    box-shadow:0 2px 8px grey;
}
.input-group input {
    border: 1px solid #ccc;
    border-radius: 15px 0 0 15px;
    box-shadow:0 2px 8px grey;
    padding: 10px;
}

.input-group .btn {
    border-radius: 0 15px 15px 0;
    background-color: #293B9D;
    box-shadow:0 2px 8px grey;
}
.input-group .btn:hover {
    border-radius: 0 15px 15px 0;
    background-color: #293B9D;
    box-shadow:0 2px 8px grey;
}

.social-icons a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

.social-icons i {
    transition: transform 0.3s ease;
}

.social-icons i:hover {
    transform: scale(1.2);
}


@media (max-width: 768px) {
    .footer-section .row {
        text-align: center;
    }

    .footer-section .col-md-4 {
        margin-bottom: 20px;
    }
}