body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}


/*styling for background carousel*/
.hero-section {
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 0;
    position: relative;
    z-index: 4;
    width: 100vw;
    height: 100vh;
}

.carousel-wrapper {
    position: absolute;
    background-position-y: 20px;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.bg-1 {
    background-image: url('../images/home-background-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 70px;
    /* Moves background down by 100px */
}

.bg-2 {
    background-image: url('../images/home-background-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 70px;
    /* Moves background down by 100px */
}

.bg-3 {
    background-image: url('../images/home-background-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0px;
    background-position-y: 80px;
    /* Moves background down by 100px */
}

.carousel-text-overlay {
    position: absolute;
    top: 20%;
    color: white;
    z-index: 1;
    width: 100%;
    margin: auto;
}

.text-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-container .property1 {
    white-space: nowrap;
}

.content {
    position: absolute;
    top: 10%;
    left: 60px;
    text-align: left;
    color: white;
    max-width: calc(100% - 100px);
    word-wrap: break-word;
    padding-right: 20px;
}

.side-text {
    position: absolute;
    /* top: 85%; */
    margin-top: 20px;
    right: -70px;
    transform: rotate(-90deg) translate(50%, -50%);
    font-size: 0.75rem;
    color: white;
    text-align: center;
}

/*side text animations*/
.content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
}

.content h1 span {
    color: #4a90e2;
}

.content .text-btn-down {
    margin: 10px 0;
    font-size: 0.75rem;
    line-height: 1.5;
    margin-top: 30px;
}

.content .buttons {
    margin-top: 20px;
}

.content .buttons a {
    display: inline-block;
    padding: 8px 10px;
    color: white;
    background-color: #293B9D;
    border-radius: 5px;
    text-decoration: none;
}

.content .buttons a.secondary {
    background-color: transparent;
    /* border: 1px solid white; */
    border-radius: 5px;
    background-color: #293B9D;
}

.images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /* margin-top: 25px; */
    /* margin-left: 10%; */
}


/* MacBook 13.3-inch (2560 × 1600) */
@media screen and (max-width: 2560px) and (min-width:1368px) {

    .bg-1 {
        background-size: 100% auto;
        /* Ensures width fits while keeping original height */
        background-position: center 50px;
        /* Moves image slightly downward */
    }

    .bg-2 {
        background-size: 100% auto;
        /* Ensures width fits while keeping original height */
        background-position: center 50px;
        /* Moves image slightly downward */
    }

    .bg-3 {
        background-size: 100% auto;
        /* Ensures width fits while keeping original height */
        background-position: center 50px;
        /* Moves image slightly downward */
    }

    .content {
        top: 0%;
        left: 70px;
        max-width: calc(100% - 80px);
    }

    .content h1 {
        font-size: 2.2rem;
    }

    .content p {
        font-size: 12px;
    }

    .side-text {
        margin-top: 5px;
    }

    .images {
        margin-top: 0px;
        margin-left: 120px
    }

    .images .chairs,
    .images .buckets {
        max-width: 30%;
        margin-top: 21%;
    }
}



/* ✅ Full HD (1920 × 1080) with DPI adjustment */
@media screen and (min-width: 1367px) and (max-width: 1920px),
screen and (min-resolution: 1.25dppx) and (min-width: 1367px) and (max-width: 1920px) {


    .bg-1,
    .bg-2,
    .bg-3 {
        background-size: 100% auto;
        background-position: center 50px;
    }

    .content {
        top: 0%;
        left: 70px;
        max-width: calc(100% - 80px);
    }

    .content h1 {
        font-size: 2.2rem;
    }

    .content p {
        font-size: 12px;
    }

    .side-text {
        margin-top: 5px;
    }

    .images {
        margin-top: 0px;
        margin-left: 120px;
    }

    .images .chairs,
    .images .buckets {
        max-width: 30%;
        margin-top: 21%;
    }
}

/* standard laptops (1366px) */
@media screen and (max-width: 1366px) {

    .bg-1,
    .bg-2,
    .bg-3 {
        background-size: 100% auto;
        background-position: center 30px;
    }

    .content {
        top: 0%;
        left: 70px;
        max-width: calc(100% - 80px);
    }

    .content h1 {
        font-size: 2.2rem;
    }

    .content p {
        font-size: 12px;
    }

    .side-text {
        margin-top: 5px;
    }

    .images {
        margin-top: 0px;
        margin-left: 130px;
    }

    .images .chairs{
        max-width: 30%;
        margin-top: 18%;

    }
    .images .buckets {
        max-width: 30%;
        margin-top: 21%;
    }
}

/* Tablet */
@media screen and (max-width: 992px) {
    .content {
        top: 0%;
        left: 20px;
        max-width: calc(100% - 40px);
        text-align: center;
    }

    .content h1 {
        font-size: 1.8rem;
    }

    .content p {
        font-size: 0.75rem;
    }

    .images {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 40px;
    }

    .images .chairs,
    .images .buckets {
        max-width: 50%;
        margin-top: 350px;
    }

    .text-container {
        display: block;
        text-align: center;
    }

    .content .buttons {
        padding: 0px;
    }

    .content .text-btn-down {
        padding: 0px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        top: 0%;
        left: 70px;
        max-width: calc(100% - 80px);
    }

    .content h1 {
        font-size: 2.2rem;
    }

    .content p {
        font-size: 0.75rem;
    }

    .side-text {
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: none;
        position: relative;
        left: 0px;
    }

    .content .buttons {
        padding: 0px;
    }

    .content .text-btn-down {
        padding: 0px;
    }
}


/* Large mobile */
@media screen and (max-width: 576px) {
    .content {
        top: 0%;
        left: 15px;
        max-width: calc(100% - 30px);
        text-align: center;
    }


    .content h1 {
        font-size: 1.6rem;
    }

    .content p {
        font-size: 0.75rem;
    }

    .images {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        height: auto;
    }

    .images .chairs {
        display: none;
    }

    .images .buckets img {
        width: 180px;
        height: 100px;
        margin-top: 70px;
    }

    .text-container {
        display: block;
        text-align: center;
    }

    .content .buttons {
        padding: 0px;
        margin-bottom: 0%;
        font-size: 14px;
        line-height: 15px;
    }

    .content .text-btn-down {
        padding: 0px;
    }
}

/* Small mobile */
@media screen and (max-width: 375px) {
    .content {
        top: 5%;
        left: 10px;
        max-width: calc(100% - 20px);
        text-align: center;
    }

    .content h1 {
        font-size: 1.4rem;
    }

    .content p {
        font-size: 0.75rem;
    }

    /* .images {
        flex-direction: row;
        align-items: center;
    }

    .images .chairs,
    .images .buckets {
        max-width: 50%;
        margin-top: 400px;
    } */

    .text-container {
        display: block;
        text-align: center;
    }

    .content .buttons {
        padding: 0px;
    }

    .content .text-btn-down {
        padding: 0px;
    }
}

/* Extra small mobile */
@media screen and (max-width: 320px) {
    .content {
        top: 5%;
        left: 5px;
        max-width: calc(100% - 10px);
        text-align: center;
    }

    .content h1 {
        font-size: 1.2rem;
    }

    .content p {
        font-size: 0.75rem;
    }

    /* .images .chairs,
    .images .buckets {
        max-width: 95%;
        margin-top: 350px;
    } */

    .text-container {
        display: block;
        text-align: center;
    }

    .content .buttons {
        padding: 0px;
    }

    .content .text-btn-down {
        padding: 0px;
    }
}

/*end of background carousel*/
/*styling for you looking for*/
.paint-options {
    background-color: #ffff;
    width: 100%;
    margin: auto;
}

.paint-options h2 {
    margin-bottom: 10px;
    font-size: 30px;
}

.btn-card {
    background-color: #2d4aa0;
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    /* Ensures no elements overflow */
    position: relative;
    /* For better control of child elements */
}

.btn-card span {
    font-size: 15px;
    font-weight: 500;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Prevent text from overflowing */
}

.icon-circle {
    flex-shrink: 0;
    /* Prevent shrinking */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-circle i {
    font-size: 1rem;
    color: #000;
    transform: rotate(-30deg);
    transition: transform 0.5s ease;
}

.icon-circle:hover i {
    transform: rotate(0deg);
    /* Reset rotation on hover */
}

@media (max-width: 1200px) {
    .btn-card {
        padding: 12px;
        /* Reduce padding */
    }

    .btn-card span {
        font-size: 14px;
        /* Adjust text size */
    }

    .icon-circle {
        width: 25px;
        /* Adjust icon size */
        height: 25px;
    }

    .icon-circle i {
        font-size: 0.9rem;
        /* Adjust icon font size */
    }
}

@media (max-width: 768px) {
    .btn-card {
        padding: 10px;
        justify-content: space-between;
        /* Maintain proper spacing */
        overflow: hidden;
        /* Ensures content remains inside */
    }

    .btn-card span {
        font-size: 13px;
        /* Adjust text size */
    }

    .icon-circle {
        width: 20px;
        /* Reduce icon size */
        height: 20px;
    }

    .icon-circle i {
        font-size: 0.8rem;
        /* Adjust icon font size */
    }
}

/*end of you looking for*/
/*styling for about us*/
.image-container {
    position: relative;
    width: 100%;
}

.ladder-image {
    width: 100%;
    max-width: 900px;
    position: relative;
    z-index: 2;
}

.paint-image {
    position: absolute;
    top: 25%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
}

.cards-image {
    width: 60%;
    margin-top: 50px;
}

.text-card p {
    font-size: 0.9rem;
}

.text-card .btn {
    margin-bottom: 60px;
    background-color: #293B9D;
    border: none;
}

.info-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 2px #293B9D;
}

@media screen and (min-width:1500px) {
    .info-card {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: center;
        transition: transform 0.3s ease;
        box-shadow: 0 2px 2px #293B9D;
        height: 300px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 0px;
    }

    .info-card h5 {
        font-size: 25px;
        font-weight: 600;
    }

    .info-card p {
        font-size: 20px;
        font-weight: 500;
    }

    .info-card img {
        height: 100px;
        width: 100px;
    }
}

.info-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px #293B9D;
    border-color: #293B9D;
}

.info-card img {
    margin-bottom: 1rem;
}

.info-card h5 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.info-card p {
    font-size: 0.9rem;
    color: #666;
}

@media (max-width: 768px) {
    .ladder-image {
        width: 100%;
        max-width: 300px;
    }

    .paint-image {
        width: 45%;
        left: 80%;
    }
}

/*end of about us*/
/*styling for livon ultra primer carousel */
#carousel-section {
    position: relative;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    background-color: white;
}

/* Slick Carousel */
.slicks-carousel {
    position: relative;
    height: 70vh;
    min-height: 400px;
    overflow: hidden;
}

/* Inner Carousel Styles */
.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: center;
}

.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    /* background-image: url('../images/manbackground.png'); */
    background-blend-mode: multiply;
    background-position: center;
}

.slick-slide img.bucket-img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.slick-slide img.man-img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

/* Background Colors */
.slicks-carousel .slides-1 {
    background-color: #c4e1a7;

}

.slicks-carousel .slides-2 {
    background-color: #a7d0e171;

}

.slicks-carousel .slides-3 {
    background-color: #e1a7dd;

}

.man-img {
    max-height: 70%;
}

.bucket-img {
    max-width: 100%;
    height: auto;
}

.colour-combo {
    padding-top: 10px !important;
}

@media screen and (min-width:1500px) {
    .carousel-item {
        padding-right: 12%;
    }

    .img-fluid {
        width: 100%;
        height: auto;
    }

    .img-fluid .man-img {
        margin-left: 100px !important;
    }

    .img-fluid img {
        width: 100%;
        height: 300px;
    }

    .img-paint-text {
        font-size: 60px !important;
        padding-bottom: 20px;
    }

    .img-paint-para {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 10px;
    }

}

@media screen and (min-width:1024px) and (max-width:1400px) {
    .carousel-item {
        padding-right: 15%;
    }

    .img-fluid .man-img {
        margin-left: 100px !important;
    }

    .img-fluid img {
        width: 100%;
        height: 400px !important;
    }

    .img-paint-text {
        font-size: 30px !important;
        padding-bottom: 10px;
        margin-top: 40px !important;
    }

    .img-paint-para {
        font-size: 18px;
        font-weight: 600;
    }



}

/* Responsive Styling */
@media (max-width: 992px) {
    .slicks-carousel {
        height: 60vh;
        min-height: 300px;
        /* Reduced minimum height */
    }

    .carousel-item h1 {
        font-size: 1.5rem;
    }

    .man-img {
        max-height: 60%;
    }

    .bucket-img {
        max-height: 200px;
    }
}

@media (max-width: 768px) {
    .slicks-carousel {
        height: auto;
        padding: 20px;
    }

    .carousel-item {
        flex-direction: column;
        justify-content: center;
    }

    .carousel-item h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .man-img {
        max-height: 30vh;
        margin-bottom: 10px;
    }

    .bucket-img {
        max-height: 20vh;
        margin-top: 10px;
        margin-left: 0px;
    }
}

@media (max-width: 576px) {
    .slicks-carousel {
        padding: 10px;
    }

    .carousel-item h1 {
        font-size: 1.2rem;
        margin-bottom: 8px;
    }

    .man-img {
        max-height: 25vh;
        margin-bottom: 8px;
    }

    .bucket-img {
        max-height: 15vh;
        margin-top: 8px;
        margin-left: 0px;
    }
}

@media (max-width: 375px) {
    .slicks-carousel {
        padding: 5px;
    }

    .carousel-item h1 {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .man-img {
        max-height: 20vh;
        margin-bottom: 5px;
    }

    .bucket-img {
        max-height: 15vh;
        margin-top: 5px;
        margin-left: 0px;
    }
}

@media (min-width: 992px) {
    .slicks-carousel {
        height: 70vh;
    }

    .man-img {
        margin-left: 70px;
        max-height: 100%;
    }

    .bucket-img {
        margin-bottom: 150px;
        max-height: 300px;
        margin-left: 0px;
    }
}

/*end for carousel*/
/*styling of products*/
.products {
    background-image: url('../images/floral.png');
    background-color: rgba(255, 255, 255, 0.75);
    background-blend-mode: lighten;
}

.container {
    background-color: transparent;
    padding: 20px;
}

/* @media screen and (max-width:768px) {
    .container {
        width: 100% !important;
        margin-left: 5% !important;
    }
} */

.icon-circles {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    size: 20px;
    background-color: #ffffff;
}





.icon-circles i {
    font-size: 1.2rem;
    /* color: #000; */
    transform: rotate(-30deg);
    transition: transform 0.5s ease;
}

.icon-circles:hover i {
    transform: rotate(0deg);
}

.outer-card {
    background-image: url('../images/cardsbackground.png');
    background-color: #4a90e2;
    background-blend-mode: multiply;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.outer-card2 {
    background-image: url('../images/cardsbackground.png');
    background-color: darkgray;
    background-blend-mode: multiply;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.outer-card3 {
    background-image: url('../images/cardsbackground.png');
    background-color: lightsalmon;
    background-blend-mode: multiply;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.outer-card4 {
    background-image: url('../images/cardsbackground.png');
    background-color: lightseagreen;
    background-blend-mode: multiply;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.outer-card5 {
    background-image: url('../images/cardsbackground.png');
    background-color: #FF4C4C;
    background-blend-mode: multiply;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.outer-card6 {
    background-image: url('../images/cardsbackground.png');
    background-color: deeppink;
    background-blend-mode: multiply;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;

}

.services-para {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.inner-card {
    background-color: #F2F2F2;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
    width: 100%;
    max-width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bucket-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-content h5 {
    font-size: 1rem;
}

.card-content p {
    font-size: 0.9rem;
}

.view-all-btn {
    color: #FF4C4C;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 5px;
}

.products .text-center .btn:hover {
    background-color: #FF4C4C;
}

.view-all-btn i {
    transform: rotate(-30deg);
}

.products .view-all-btn i:hover {
    color: black;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}

@media (max-width: 768px) {
    .outer-card {
        padding: 10px;
    }

    .inner-card {
        max-width: 150px;
    }

    .bucket-image {
        max-width: 85%;
        max-height: 85%;
    }

    .card-content h5 {
        font-size: 0.9rem;
    }

    .card-content p {
        font-size: 0.8rem;
    }
}

/*end of products*/
/*start of trending colors combinations*/
.man-image {
    max-height: 500px;
    object-fit: contain;
}

.slick-carousel {
    padding: 10px 0;
}

.images-container {
    width: 200px;
    height: 450px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

@media screen and (max-width: 2560px) and (min-width:1368px) {
    .image-container {
        height: 450px;
    }

}

.bg-room1 {
    background-image: url('../images/room1.png');
}

.bg-room2 {
    background-image: url('../images/room2.png');
}

.bg-room3 {
    background-image: url('../images/room3.png');
}

.bg-room4 {
    background-image: url('../images/room4.png');
}

.bg-room5 {
    background-image: url('../images/room5.png');
}

.slick-car {
    background-image: url('../images/blur\ background\ image.png');
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 768px) {
    .slick-carousel img {
        max-width: 90%;
        margin: 0 auto;
    }

}

/*end of trending..*/
/* styling of explore our professional */
#colorCarousel {
    background-color: white;
}

.imag-container {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}



.bg-slide1 {
    background-image: url('../images/multi-slide-carousel-slide2.png');
}

.bg-slide2 {
    background-image: url('../images/multi-slide-carousel-slide3.png');
}

.bg-slide3 {
    background-image: url('../images/multi-slide-carousel-slide1.png');
}

.bg-slide4 {
    background-image: url('../images/multi-slide-carousel-slide4.png');
}

.slick-slide {
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (min-width:1550px) {
    .right-section {
        margin-right: 2%;
    }

    .fw-bold {
        font-size: 30px;
    }

    .text-muted {
        font-size: 20px;
        padding-bottom: 20px;
        font-weight: 500;
    }

    .all-services {
        font-size: 30px;
    }

    .all-service-para {
        font-size: 18px;
    }
}

@media screen and (min-width:1500px) {
    .btn-card span {
        font-size: 20px;
    }

    .trust-text {
        font-size: 40px;
        font-weight: bold;
    }

    .text-card p {
        font-size: 20px;
        font-weight: 500;
    }
}

/*end*/